html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  position: relative;
  left: 50%;
  padding: .5em 0;
  transform: translate(-50%, -.05%);
  height: 240px;
}

.robot-body {
  width: 320px;
  bottom: 0;
  position: absolute;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 42%;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  left: 50%;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  right: 50%;
}

.robot:hover .robot-head-right {
  top: 2%;
  left: 60%;
}

.robot:hover .robot-head-left {
  top: 2%;
  right: 60%;
}

.robot:hover .robot-brain {
  top: 0%;
  left: 42.5%;
}
